.cart-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }



h1 {
    text-align: center; /* Căn giữa tiêu đề */
    color: #343a40; /* Màu chữ tối */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px; /* Khoảng cách giữa các trường nhập liệu */
}

.form-group label {
    font-weight: bold; /* In đậm tiêu đề */
    display: block; /* Đảm bảo label luôn nằm trên input */
    margin-bottom: 5px; /* Khoảng cách giữa label và input */
    color: #495057; /* Màu chữ nhạt hơn */
}

.form-group input, .form-group textarea {
    width: 100%; /* Đảm bảo input và textarea rộng bằng nhau */
    padding: 10px; /* Khoảng cách bên trong trường nhập liệu */
    border: 1px solid #ced4da; /* Màu viền nhẹ nhàng */
    border-radius: 5px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước chữ */
}

.form-group textarea {
    height: 100px; /* Chiều cao mặc định của textarea */
    resize: vertical; /* Cho phép người dùng thay đổi chiều cao */
}

.btn-primary {
    background-color: #007bff; /* Màu nền nút chính */
    border-color: #007bff; /* Màu viền nút chính */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn góc nút */
    cursor: pointer; /* Con trỏ chỉ tay khi hover */
}

.btn-danger {
    background-color: #dc3545; /* Màu nền nút xóa */
    border-color: #dc3545; /* Màu viền nút xóa */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px
}

.btn-primary:hover {
    background-color: #0056b3; /* Màu nền khi hover */
    border-color: #004085; /* Màu viền khi hover */
}

.btn-danger:hover {
    background-color: #c82333; /* Màu nền khi hover */
    border-color: #bd2130; /* Màu viền khi hover */
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Màu nền khác cho các hàng lẻ */
}

.table img {
    border-radius: 5px;
}

.btn-them{
    background-color: #49cc90; /* Màu nền nút chính */
    border-color: #49cc90; /* Màu viền nút chính */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn góc nút */
    cursor: pointer; /* Con trỏ chỉ tay khi hover */
    float: right;
    margin: 20px;
}
