/* .container {
    max-width: 800px;
    margin: auto;
  }
  
  h2, h3 {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
  }
   */

   .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.address-box, .product-box, .shop-voucher, .list-group-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.shop-voucher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-link {
    color: #013243;
    font-weight: bold;
}

.list-group-item {
    border: none;
}

.text-danger {
    color: #ff5722;
}

.btn-danger {
    background-color: #269dbb;
    border-color: #ffffff;
}
